server:
  port: 8001
  
  prod:
    url: ${PROD_BASE_URL}

spring:
  application:
    name: easy-english-app
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  devtools:
    livereload:
      enabled: true
  datasource:
    url: jdbc:postgresql://${PROD_DB_URL}
    username: ${PROD_DB_USER}
    password: ${PROD_DB_PASSWORD}
    driverClassName: org.postgresql.Driver
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true

security:
  jwt:
    secret-key: ${PROD_JWT_SECRET_KEY}

logging:
  file:
    name: mylog.log
  level:
    root: info

frontend:
  url: ${PROD_FRONTEND_URL}

third-party:
  sending-email:
    address: ${PROD_SENDING_EMAIL_ADDRESS}
    password: ${PROD_SENDING_EMAIL_PASSWORD}

  vn-pay:
    pay-url: ${PROD_VNPAY_PAY_URL}
    tmn-code: ${PROD_VNPAY_TMN_CODE}
    hash-secret: ${PROD_VNPAY_HASH_SECRET}

minio:
  url: ${PROD_MINIO_URL}
  access-key: ${PROD_MINIO_ACCESS_KEY}
  secret-key: ${PROD_MINIO_SECRET_KEY}
  bucket:
    name: ${PROD_MINIO_BUCKET_NAME}